*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 255, 0.247);
    height: 100vh;
}

.main{
    position: absolute;
    top: 250px;
    left: 500px;
    width: 600px;
    height: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    row-gap: 20px;

}
#text{
    width: 500px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: none;
}

#length{
    position: relative;
    left: -190px;
    color: brown;
}
