@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
}

header {
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #cecece;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    width: 80px;
    border-radius: 20px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
}

#text {
    width: 500px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(0, 0, 255, 0.247);
    resize: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#text::placeholder {
    color: rgba(0, 0, 255, 0.247);
}